extends nayout

block content
    div.box.center
        h1=title
        p='还在为上不去网而烦恼？'
        img(src='/images/nickvpn_0.jpg')
        p='nick狐婚后的创业项目：让疯狂动物城里的一切动物都能上外网！'
        img(src='/images/nickvpn_1.png')
