doctype html
html
   head
      title= title
      meta(name='viewport',content='initial-scale=1.0,maximum-scale=1,user-scalable=no')
      link(rel='stylesheet', href='/stylesheets/work.css')
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/jquery.imgloader.js')
   body
      block content
