extends layout
block content
    link(rel='stylesheet', href='/bitchwho/index.css')
    link(rel='stylesheet', href='/bitchwho/style.css')
    link(rel='stylesheet', href='/bitchwho/singin_singup.css')
    link(rel='stylesheet', href='/snailpi/style.css')

    div#bg
    div.index_box
        h1=title
        h2.subtitle=subtitle
        div.register_form
            div.msg
            div.group_inputs
                div.input_wrapper
                    input(name='fullname',placeholder='用户名').fullname
                div.input_wrapper
                    input(name='passwd',placeholder='密  码').passwd
                div.input_wrapper
                    input(name='invite',placeholder='邀请码',value=invite).invite
            button._button.sign_button.submit=title
    script(src='/javascripts/jquery.particleground.min.js')
    script(src='/bitchwho/signin_signup_bg.js')
    script(src='/bitchwho/signup.js')