extends layout
block content
    link(rel='stylesheet', href='/snailpi/index.css')
    link(rel='stylesheet', href='/snailpi/style.css')
    link(rel='stylesheet', href='/snailpi/singin_singup.css')
    link(rel='stylesheet', href='/snailpi/style.css')
    div#bg
    div.index_box
        h1=title
        h2.subtitle=subtitle
        div.register_form
            div.msg
            div.group_inputs
                div.input_wrapper
                    input(name='fullname',placeholder='用户名').fullname
                div.input_wrapper
                    input(type='password',name='passwd',placeholder='密  码').passwd
            button._button.signin_button.submit='登陆'+title
            a(href='/signup')
                button._button.goto_signup_button='注册' + title
    script(src='/javascripts/jquery.particleground.min.js')
    script(src='/snailpi/signin_signup_bg.js')
    script(src='/snailpi/signin.js')