extends layout
block content
    link(rel='stylesheet', href='/bitchwho/home.css')
    link(rel='stylesheet', href='/snailpi/switch.css')
    link(rel='stylesheet', href='/stylesheets/switch_button.css')


    div.border
        div.pan
            h2='云开关'
        div.separator
            div.arrow_1
            div.arrow_2

        div.pan
            a(href='/switch/create')='创建一个云开关'
        div.pan
            -each switch_one in switch_arr
                li
                    h2=switch_one.name
                    a(href='/switch/#{switch_one._id}')='info'
                    div(switch_id=switch_one._id).Switch.Round
                        div.Toggle

    div#back_to_top
    script(src='/javascripts/jquery.imgloader.js')
    script(src='/javascripts/jquery.backtotop.js')
    script(src='/bitchwho/home.js')
    script(src='/snailpi/switch_change.js')