extends layout
block content
    link(rel='stylesheet', href='/bitchwho/home.css')
    link(rel='stylesheet', href='/snailpi/switch.css')
    link(rel='stylesheet', href='/stylesheets/switch_button.css')

    div.border

    div.switch
        p=switch_obj.name
        p=switch_obj.onwer
        a(target='_blank',href='/api/switch/#{switch_obj._id}')='物联网读取接口'

        div(switch_id=switch_obj._id).Switch.Round
            div.Toggle
            //span.On='ON'
            //span.Off='OFF'


    div#back_to_top
    script(src='/javascripts/jquery.imgloader.js')
    script(src='/javascripts/jquery.backtotop.js')
    script(src='/bitchwho/home.js')
    script(src='/snailpi/switch_change.js')