extends layout
block content
    link(rel='stylesheet', href='/snailpi/home.css')


    div.box
        a(href='/user/invite')='邀请好友'
    div.box    
        a(href='/user/face')='头像'
    div.box    
        a(href='/logout')='退出'    
    script(src='/javascripts/jquery.imgloader.js')
    script(src='/javascripts/jquery.backtotop.js')
    script(src='/snailpi/home.js')