extends ../layout
block content
    link(rel='stylesheet', href='/works/tailand/css/public.css')
    div.fullpage.come_on_index
        img.full(src='/works/tailand/img/index/1.png')
        img.full(src='/works/tailand/img/index/2.png')
        img.full(src='/works/tailand/img/index/3.png')
        img.full(src='/works/tailand/img/index/4.png')
        img.full(src='/works/tailand/img/index/5.png')
        img.full(src='/works/tailand/img/index/6.png')
        img.full(src='/works/tailand/img/index/7.png')
        img.full(src='/works/tailand/img/index/9.png')
        img.full.btn.btn_go_to_des(src='/works/tailand/img/index/10.png')
        img.full(src='/works/tailand/img/index/8.png')
        img.full(src='/works/tailand/img/index/11.png')
        img.full.btn.btn_to_to_join(src='/works/tailand/img/index/12.png')
        img.full(src='/works/tailand/img/index/13.png')
        img.full(src='/works/tailand/img/index/14.png')
    script(src='/works/tailand/app.js')