extends layout
block content
    link(rel='stylesheet', href='/bitchwho/index.css')
    link(rel='stylesheet', href='/bitchwho/singin_singup.css')

    div#bg
    div.index_box
        h1.logo.hide_text=title
        h2.subtitle=subtitle
        form.register_form
            div.group_inputs
                div.input_wrapper
                    input(name='fullname',placeholder='用户名').fullname
                div.input_wrapper
                    input(name='passwd',placeholder='密  码').passwd
            button.sign_button.submit='注册'+title
    script(src='/bitchwho/app.js')