extends layout
block content
    link(rel='stylesheet', href='/bitchwho/home.css')


    div.box
        a(href='/user/invite')='邀请好友'
    div#back_to_top
    script(src='/javascripts/jquery.imgloader.js')
    script(src='/javascripts/jquery.backtotop.js')
    script(src='/bitchwho/home.js')